.search-input {
  visibility: hidden;
}

.search-box {
  margin-top: 15px;
}

input[type='text'] {
  background-color: white;
  width: 280px;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-left: 2px solid rgb(205, 205, 205);
  font-size: 13px;
  color: rgb(184, 184, 184);
}

input[type='text']::placeholder {
  color: rgb(184, 184, 184);
}

input[type='text']:focus-visible {
  border: none;
}

input[type='submit'] {
  background-color: beige;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
}

.active-se {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: beige;
}

.more-btn {
  display: none;
}

.news {
  border-bottom: 2px solid black;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

@media screen and (max-width: 480px) {
  .menus {
    position: fixed;
    top: 0;
    right: 0;
    padding: 47px 18px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  .menus.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s;
  }

  .menus button {
    height: 40px;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .active button:hover {
    color: black;
  }
  .more-btn {
    display: block;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
  }

  .more-btn {
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }

  .more-btn .icon {
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    background: url(/images/ham.png) no-repeat center;
    background-size: contain;
  }

  .active .icon {
    background: url(/images/X.png) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}
